// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

$base-color: #2FB3C6 !default;
$dark-color: #000000 !default;

$list-header-color: #2FB3C6 !default;
$toolbar-color: #212B31 !default;
$tabbar-color: #212B31 !default;
$primary-text-color: #333 !default;
$toolbar-base-color: #212B31 !default;
$ios7-blue: #A0D853 !default;

// throw out default pictos font
$include-pictos-font: true;
$include-default-icons: true;

@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';

// Custom code goes here..

// embed custom pictos font

.x-toolbar.x-docked-top {
    border-radius: 0px !important;
}
.x-toolbar.x-docked-top .x-title {
    color: #fafafa;
}
.mainmenu .x-button-icon {
    margin-right:5px;
}